<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <%= form_for(@blog) do |f| %>
        <!-- blog title -->
        <div class="input-field">
          <%= f.label :title %>
          <%= f.text_field :title, required: true, autofocus: true %>
        </div>

        <!-- blog content -->
        <div class="input-field">
        <%= f.label :content %>
        <%= f.cktext_area :content, id: "blog_content", required: true, class: "materialize-textarea" %>
        </div>

        <!-- blog publish -->
        <div class="input-field">
          <%= f.check_box :publish, class: "filled-in" %>
          <%= f.label :publish %>
        </div>

        <!-- Submit form -->
        <div class="input-field center">
          <%= f.submit button, class: "btn" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
