<div class="container">
  <!-- Fixed New blog button -->
  <div class="fixed-action-btn" style="top: 50px; right: 24px;">
    <a class="btn-floating btn-large red" href="<%= new_blog_path %>">
      <i class="large material-icons">add</i>
    </a>
  </div>

  <!-- Header of index-->
  <h1 class="center">Bloggy</h1>

  <!-- Indexes -->
  <div class="row">

    <!-- Handling each blog separate -->
    <% @blogs.each do |blog| %>
        <%= link_to blog_path(blog) do %>
            <div class="col s12 m4">
              <div class="card">
                <div class="card-content black-text">
                  <span class="card-title black-text"><strong><%= blog.title.truncate(20) %></strong>
                    <% if user_signed_in? && blog.voted(current_user) %>
                        <span class="center"><%= link_to '<i class="material-icons" style="color: #FF0000;">favorite</i>'.html_safe, blog_vote_path(blog,blog.votes.where(user_id: current_user.id).first.id), method: :delete %> <%= blog.votes.count %></span>
                    <% else %>
                        <span class="center"><%= link_to '<i class="material-icons" style="color: #FF0000">favorite_border</i>'.html_safe, blog_votes_path(blog), method: :post %> <%= blog.votes.count %></span>
                    <% end %>
                  </span>
                  <% require 'rubygems' %>
                  <% require 'nokogiri' %>
                  <div><%= Nokogiri::HTML(blog.content).text.truncate(300, separator: ' ') %></div>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>

  </div>
</div>
